doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title  ChessClub Worksap
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.7
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='bower_components/Ionicons/css/ionicons.min.css')
    // DataTables
    link(rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css")
    // Theme style
    link(rel='stylesheet', href='css/AdminLTE.min.css')
    //
      AdminLTE Skins. Choose a skin from the css/skins
      folder instead of downloading all of them to reduce the load.
    link(rel='stylesheet', href='css/skins/_all-skins.min.css')
    // Morris chart
    link(rel='stylesheet', href='bower_components/morris.js/morris.css')
    // jvectormap
    link(rel='stylesheet', href='bower_components/jvectormap/jquery-jvectormap.css')
    // Date Picker
    link(rel='stylesheet', href='bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
    // Daterange picker
    link(rel='stylesheet', href='bower_components/bootstrap-daterangepicker/daterangepicker.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // Google Font
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
  body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      header.main-header
        // Logo
        a.logo(href='/')
          // mini logo for sidebar mini 50x50 pixels
          span.logo-mini
            b W
            | AP
          // logo for regular state and mobile devices
          span.logo-lg
            b CHESS
            | CLUB
        // Header Navbar: style can be found in header.less
        nav.navbar.navbar-static-top
          // Sidebar toggle button
          a.sidebar-toggle(href='#', data-toggle='push-menu', role='button')
            span.sr-only Toggle navigation
          .navbar-custom-menu
            ul.nav.navbar-nav
              // User Account: style can be found in dropdown.less
              li.dropdown.user.user-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                  img.user-image(src='img/avatar.png', alt='User Image')
                  span.hidden-xs #{user.name}
                ul.dropdown-menu
                  // User image
                  li.user-header
                    img.img-circle(src='img/avatar.png', alt='User Image')
                    p
                      | #{user.email}
                  // Menu Body
                  li.user-body
                    // /.row
                  // Menu Footer
                  li.user-footer
                    .pull-left
                      a.btn.btn-default.btn-flat(href='userprofile') Profile
                    .pull-right
                      a.btn.btn-default.btn-flat(href='logout') Sign out

      // Left side column. contains the logo and sidebar
      aside.main-sidebar
        // sidebar: style can be found in sidebar.less
        section.sidebar
          // sidebar menu: : style can be found in sidebar.less
          ul.sidebar-menu(data-widget='tree')
            li.header MAIN NAVIGATION
            li
              a(href='/')
                i.fa.fa-th
                span HOME
            li
              a(href='/tournament')
                i.fa.fa-th
                span Tournaments
            li
              a(href='/user')
                i.fa.fa-th
                span Members


        // /.sidebar
      // Content Wrapper. Contains page content
      .content-wrapper
        // Content Header (Page header)
        section.content-header
          h1
            | HOME
            small page
        // Main content
        section.content
          // Small boxes (Stat box)
          .row
            .col-lg-4.col-xs-6
              // small box
              .small-box.bg-aqua
                .inner
                  h3 #{totalTour}
                  p Total Tournaments
                .icon
                  i.ion.ion-ios-game-controller-b
                a.small-box-footer(href='/tournament')
                  | More info
                  i.fa.fa-arrow-circle-right
            // ./col
            .col-lg-4.col-xs-6
              // small box
              .small-box.bg-green
                .inner
                  h3
                    | #{totalMatch}
                  p Total Matches
                .icon
                  i.ion.ion-trophy
                a.small-box-footer(href='/tournament')
                  | More info
                  i.fa.fa-arrow-circle-right
            // ./col
            .col-lg-4.col-xs-6
              // small box
              .small-box.bg-yellow
                .inner
                  h3 #{totalUser}
                  p Total Players
                .icon
                  i.ion.ion-person-add
                a.small-box-footer(href='/user')
                  | More info
                  i.fa.fa-arrow-circle-right
            // ./col
            // ./col
          // /.row
          // Main row
          .row
            // Left col
            section.col-lg-8.connectedSortable
              .box
                .box-header
                  h3.box-title LeaderBoard
                // /.box-header
                .box-body
                  table#example2.table.table-bordered.table-hover
                    thead
                      tr
                        th Rank
                        th Name
                        th Match Played
                        th Match Won
                        th ELO Rating
                    tbody
                      each row,i in userlist
                        tr
                          td #{i+1}
                            img.img-circle(src="img/avatar.png" height="32px" width="32px")
                          td
                            | #{row.name}
                          td
                            | #{row.totalMatch}
                          td
                            | #{row.win}
                          td
                            | #{row.currentRating}

            section.col-lg-4.connectedSortable
              //- // Calendar
              //- .box.box-solid.bg-green-gradient
              //-   .box-header
              //-     i.fa.fa-calendar
              //-     h3.box-title Calendars
              //-     // /. tools
              //-   // /.box-header
              //-   .box-body.no-padding
              //-     // The calendar
              //-     #calendar(style='width: 100%')
              //upcoming events
              .box.box-primary
                .box-header.with-border
                  h3.box-title Upcoming tournament
                // /.box-header
                .box-body
                  ul.products-list.product-list-in-box
                    each row in tour,i
                      li.item
                        .product-img
                          img(src='img/default-50x50.gif', alt='Tournament Image')
                        .product-info
                          a.product-title(href='/tournament')
                            | #{row.name}
                            span.label.label-warning.pull-right #{row.date}
                          span.product-description
                            | #{row.location} &nbsp;&nbsp;#{row.time}


    // ./wrapper
    // jQuery 3
    script(src='bower_components/jquery/dist/jquery.min.js')
    // jQuery UI 1.11.4
    script(src='bower_components/jquery-ui/jquery-ui.min.js')
    // Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
    script.
      $.widget.bridge('uibutton', $.ui.button);
    // Bootstrap 3.3.7
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    // Morris.js charts
    script(src='bower_components/raphael/raphael.min.js')
    script(src='bower_components/morris.js/morris.min.js')
    // Sparkline
    script(src='bower_components/jquery-sparkline/dist/jquery.sparkline.min.js')

    // jQuery Knob Chart
    script(src='bower_components/jquery-knob/dist/jquery.knob.min.js')
    // daterangepicker
    script(src='bower_components/moment/min/moment.min.js')
    script(src='bower_components/bootstrap-daterangepicker/daterangepicker.js')
    // datepicker
    script(src='bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')

    // DataTables
    script(src="bower_components/datatables.net/js/jquery.dataTables.min.js")
    script(src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js")
    // Slimscroll
    script(src='bower_components/jquery-slimscroll/jquery.slimscroll.min.js')
    // FastClick
    script(src='bower_components/fastclick/lib/fastclick.js')
    // AdminLTE App
    script(src='js/adminlte.min.js')
    // AdminLTE dashboard demo (This is only for demo purposes)
    script(src='js/pages/dashboard.js')
    // AdminLTE for demo purposes
    script(src='js/demo.js')

    script.
      $(function () {
      $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
      })
      })
